<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SCC | Components</title>

    <!-- include Fonts here -->

    <!-- include your CSS here -->
    <link rel="stylesheet" href="../assets/css/site.css">
    <link href="../assets/css/fontawesome.css" rel="stylesheet">
    <link href="../assets/css/brands.css" rel="stylesheet">
    <link href="../assets/css/solid.css" rel="stylesheet">
    <!-- include any additional JS here, remembering to DEFER execution -->

</head>
<body class="bg-gray-100">
<header class="bg-black text-white/80 sticky top-0 p-4 pb-6 flex flex-row z-10">
    <img alt="Logo" class="w-16" src="../assets/img/SCC-Logo.svg">
        <h1 class="grow pl-4">ScreenCraft Components</h1>
    <nav class="pt-8">
        <ul class="flex flex-row gap-4 w-full">
            <li><a href="../" class="border border-t-0 border-x-0 border-2 border-gray-600 hover:border-gray-300 pb-2">Home</a></li>
            <li><a href="../components"
                   class="border border-t-0 border-x-0 border-2 border-gray-200 hover:border-gray-300 pb-2">Components</a></li>
            <li><a href="../colours" class="border border-t-0 border-x-0 border-2 border-gray-600 hover:border-gray-300 pb-2">Colours</a></li>
            <li><a href="../pages" class="border border-t-0 border-x-0 border-2 border-gray-600 hover:border-gray-300 pb-2">About</a></li>
            <li><a href="../pages/copyright/index.html" class="border border-t-0 border-x-0 border-2 border-gray-600 hover:border-gray-300 pb-2">Copyright</a></li>
            <li><a href="../pages/contact.html" class="border border-t-0 border-x-0 border-2 border-gray-600 hover:border-gray-300 pb-2">Contact Us</a></li>
        </ul>
    </nav>
</header>
<main class="w-4/5 mx-auto bg-white pb-8">
    <article class="flex flex-col gap-8">
        <header class="m-8 mb-0">
            <h2 class="text-2xl font-bold text-gray-500">Components</h2>
            <p>Explore the possible components</p>
        </header>
        <div class="flex flex-row flex-wrap gap-4 m-8">
            <section class="w-1/4 border border-gray-500  p-4">
                <a class="w-full hover:bg-gray-400 p-4 block" href="../components/cards">
                    <h4 class="text-xl ">Cards</h4>
                    <p>Cards to use in grids and flex-box layouts</p>
                </a>
            </section>
            <section class="p-4 w-1/4 border border-gray-500 ">
                <a class="w-full hover:bg-gray-400 p-4 block" href="../components/buttons">
                    <h4 class="text-xl ">Buttons</h4>
                    <p>Basic buttons to those with icons</p>
                </a>
            </section>
            <section class="p-4 w-1/4 border border-gray-500 ">
                <a class="w-full hover:bg-gray-400 p-4 block" href="../components/headers">
                    <h4 class="text-xl ">Page Headers</h4>
                    <p>Header areas with and without space for navigation </p></a>
            </section>
            <section class="p-4 w-1/4 border border-gray-500 ">
                <a class="w-full hover:bg-gray-400 p-4 block" href="../components/footers">
                    <h4 class="text-xl ">Page Footers</h4>
                    <p>Footers with different base layouts</p>
                </a>
            </section>
            <section class="p-4 w-1/4 border border-gray-500 ">
                <a class="w-full hover:bg-gray-400 p-4 block" href="../components/heroes">
                    <h4 class="text-xl ">Heroes</h4>
                    <p>Big blocks that may spread across the whole width</p>
                </a>
            </section>
            <section class="p-4 w-1/4 border border-gray-500 ">
                <a class="w-full hover:bg-gray-400 p-4 block" href="../components/sidebars">
                    <h4 class="text-xl ">Sidebars</h4>
                    <p>Side area that may be used for navigation and more</p>
                </a>
            </section>
            <section class="p-4 w-1/4 border border-gray-500 ">
                <a class="w-full hover:bg-gray-400 p-4 block" href="../components/images">
                    <h4 class="text-xl ">Images</h4>
                    <p>Images with and without caption areas</p>
                </a>
            </section>
            <section class="p-4 w-1/4 border border-gray-500 ">
                <a class="w-full hover:bg-gray-400 p-4 block" href="../components/avatars">
                    <h4 class="text-xl ">Avatars</h4>
                    <p>Styling for smaller images and user pictures</p>
                </a>
            </section>
        </div>
    </article>
</main>
<footer class="flex flex-row gap-16 p-8 pt-12 bg-gray-300">
    <section>
        <img alt="Logo" class="w-16" src="../assets/img/SCC-Logo.svg">
        <p>© Copyright 2023 Adrian Gould and YOUR NAME. All rights reserved.</p>
    </section>
    <section>
        <ul>
            <li><a href="#">North Metro TAFE</a></li>
            <li><a href="#">ScreenCraft Dev Sites</a></li>
            <li><a href="pages/index.html">About</a></li>
            <li><a href="pages/copyright.html">Copyright</a></li>
        </ul>
    </section>
</footer>
</body>
</html>
