<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>SCC | Components | Cards</title>

    <!-- include Fonts here -->

    <!-- include your CSS here -->
    <link href="../../assets/css/site.css" rel="stylesheet">
    <link href="../../assets/css/prism.css" rel="stylesheet">
    <link href="../../assets/css/fontawesome.css" rel="stylesheet">
    <link href="../../assets/css/brands.css" rel="stylesheet">
    <link href="../../assets/css/solid.css" rel="stylesheet">
    <!-- include any additional JS here, remembering to DEFER execution -->
    <script defer src="../../assets/js/prism.js"></script>
</head>
<body class="bg-gray-100">
<header class="bg-black text-white/80 sticky top-0 p-4 pb-6 flex flex-row z-10">
    <img alt="Logo" class="w-16" src="../../assets/img/SCC-Logo.svg">
    <h1 class="grow pl-4">ScreenCraft Components</h1>
    <nav class="pt-8">
        <ul class="flex flex-row gap-4 w-full">
            <li>
                <a class="border border-t-0 border-x-0 border-2 border-gray-600 hover:border-gray-300 pb-2"
                   href="../../">
                    Home
                </a>
            </li>
            <li>
                <a class="border border-t-0 border-x-0 border-2 border-gray-200 hover:border-gray-300 pb-2"
                   href="../../components">
                    Components
                </a>
            </li>
            <li>
                <a class="border border-t-0 border-x-0 border-2 border-gray-600 hover:border-gray-300 pb-2"
                   href="../../colours">
                    Colours
                </a>
            </li>
            <li>
                <a class="border border-t-0 border-x-0 border-2 border-gray-600 hover:border-gray-300 pb-2"
                   href="../../pages">
                    About
                </a>
            </li>
            <li>
                <a class="border border-t-0 border-x-0 border-2 border-gray-600 hover:border-gray-300 pb-2"
                   href="../../pages/copyright.html">
                    Copyright
                </a>
            </li>
            <li>
                <a class="border border-t-0 border-x-0 border-2 border-gray-600 hover:border-gray-300 pb-2"
                   href="../../pages/contact.html">
                    Contact Us
                </a>
            </li>
        </ul>
    </nav>
</header>

<main class="w-4/5 mx-auto bg-white pb-8">
    <article class="flex flex-col gap-12">
        <header class="m-8 -mb-4">
            <h2 class="text-2xl font-bold text-gray-500">Cards</h2>
            <p>Outline the purpose of these components here...</p>
        </header>
        <section class="flex flex-col flex-wrap gap-8 m-8 mt-0">

            <article class="w-full border border-gray-100 shadow  p-4 flex flex-col gap-4">
                <header class=" -mx-4 -mt-4">
                    <h3 class="text-2xl bg-black text-gray-200 p-2 pb-4 w-full">
                        Simple Footer
                    </h3>
                </header>
                <section class="shadow p-4">

                    <div class="text-gray-400 bg-gray-800 body-font 
                                w-full container flex flex-col items-start justify-between p-6 
                                mx-auto md:flex-row gap-2">
                        <a class="flex items-center mb-4 font-medium title-font md:mb-0 gap-2
                                      hover:text-gray-200 transition duration-500 ease-in-out">
                            <img alt="SCC Logo" class="h-6" src="../../assets/img/SCC-Logo.svg">
                            <h1 class="text-sm">Site Name</h1>
                        </a>
                        <div class="flex flex-wrap text-sm pl-6 ml-6 text-base
                                    border-l border-gray-400 grow ">
                            <p class="m-auto">
                                &copy; Copyright 2023 SITE_OWNER, all rights reserved.
                            </p>
                        </div>
                        <div class="flex flex-wrap text-sm pl-6 ml-6 text-base border-l border-gray-400 
                                    md:mr-auto gap-2">
                            <a class="border-b border-gray-400 hover:border-gray-200 hover:text-gray-200
                                      transition duration-500 ease-in-out"
                               href="#">Home</a>
                            <a class="border-b border-gray-400 hover:border-gray-200 hover:text-gray-200
                                      transition duration-500 ease-in-out"
                               href="#">About</a>
                            <a class="border-b border-gray-400 hover:border-gray-200 hover:text-gray-200
                                      transition duration-500 ease-in-out"
                               href="#">Contact</a>
                            <a class="border-b border-gray-400 hover:border-gray-200 hover:text-gray-200
                                      transition duration-500 ease-in-out"
                               href="#">Policies</a>
                        </div>
                    </div>

                </section>
                <section>
                    <pre><code class="language-html">
&lt;div class="text-gray-400 bg-gray-800 body-font 
    w-full container flex flex-col items-start justify-between p-6 
            mx-auto md:flex-row gap-2">
    &lt;a class="flex items-center mb-4 font-medium title-font md:mb-0 gap-2
                  hover:text-gray-200 transition duration-500 ease-in-out">
        &lt;img src="../../assets/img/SCC-Logo.svg" alt="SCC Logo" class="h-6">
        &lt;h1 class="text-sm">Site Name&lt;/h1>
    &lt;/a>
    &lt;div class="flex flex-wrap text-sm pl-6 ml-6 text-base
                border-l border-gray-400 grow ">
        &lt;p class="m-auto">
            &copy; Copyright 2023 SITE_OWNER, all rights reserved.
        &lt;/p>
    &lt;/div>
    &lt;div class="flex flex-wrap text-sm pl-6 ml-6 text-base border-l border-gray-400 
                md:mr-auto gap-2">
        &lt;a href="#"
           class="border-b border-gray-400 hover:border-gray-200 hover:text-gray-200 
                  transition duration-500 ease-in-out">Home&lt;/a>
        &lt;a href="#"
           class="border-b border-gray-400 hover:border-gray-200 hover:text-gray-200 
                  transition duration-500 ease-in-out">About&lt;/a>
        &lt;a href="#"
           class="border-b border-gray-400 hover:border-gray-200 hover:text-gray-200 
                  transition duration-500 ease-in-out">Contact&lt;/a>
        &lt;a href="#"
           class="border-b border-gray-400 hover:border-gray-200 hover:text-gray-200 
                  transition duration-500 ease-in-out">Policies&lt;/a>
    &lt;/div>
&lt;/div>
                    </code></pre>
                </section>
            </article>


            <!-- Component Template -->
            <article class="w-full border border-gray-100 shadow  p-4 flex flex-col gap-4">
                <header class=" -mx-4 -mt-4">
                    <h3 class="text-2xl bg-black text-gray-200 p-2 pb-4 w-full">
                        Component Name
                    </h3>
                </header>
                <section class="shadow p-4">
                    <p>Component demo</p>
                </section>
                <section>
                    <pre><code class="language-html">&lt;p>Component Code&lt;/p></code></pre>
                </section>
            </article>
            <!-- /Component Template -->

        </section>
    </article>
</main>
<footer class="flex flex-row gap-16 p-8 pt-12 bg-gray-300">
    <section>
        <img alt="Logo" class="w-16" src="../../assets/img/SCC-Logo.svg">
        <p>© Copyright 2023 Adrian Gould and YOUR NAME. All rights reserved.</p>
    </section>
    <section>
        <ul>
            <li><a href="#">North Metro TAFE</a></li>
            <li><a href="#">ScreenCraft Dev Sites</a></li>
            <li><a href="pages/index.html">About</a></li>
            <li><a href="pages/copyright.html">Copyright</a></li>
        </ul>
    </section>
</footer>
</body>
</html>
